body {
    color: black;
    background-color:rgb(00,33,99);
    background-image: url("images/background.jpg");
    background-size: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#nav {
    position: absolute;
    font-family: Arial;
    top:0;
    height:40px;
    width:100%;
    color: white;
    padding: 0;
    background-image:none;
}

#place-holder {
    margin-left:100px;
}

#main {
    position: absolute;
    top:40px;
    width:100%;
}

#tickets {
    position: relative;
    float:left;
    width: 48%;
    height: 100px;
}

#solutions {
    position: relative;
    float:right;
    width: 48%;
}


.ticket {
    position:relative;
    width: 90%;
    border-left-color: yellow;
    margin:0;
    padding:4px;
    border-style:solid;
    border-width:1px;
    border-left-width:10px;
    background-color: white;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

#right-side {
    width: 90%;
    border-radius: 25px;
    background-color: white;
    border-style:solid;
    padding:4px;
    border-width:1px;
    border-radius: 5px; 
}

.solution {
    width: 90%;
    border-radius: 25px;
    background-color: white;
    border-style:solid;
    padding:4px;
    border-width:1px;
    border-radius: 5px;
}

.more-info {
    display:inline-block;
    text-align: center;
    width:5%;
}

.description {
    display:inline-block;
    width:65%;
}

.stars {
    display:inline-block;
    color:rgb(230, 230, 0);
    width:5%;
}

.checkmark {
    display:inline-block;
    text-align: right;
    color:green;
    margin-left: 15%;
    width:5%;
}

.header {
    position:relative;
    text-align: top;
    background-color:hsl(0, 0%, 85%);
    padding-top:0;
    height:50px;
}

.ticket-field {
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 0;
    padding-top: 0;
    border-bottom:solid;
    border-bottom-color:hsl(0, 0%, 85%);
}

.code-snippet {
    padding-left:3px;
    height:250px;
    background-color:black;
    color:white;
    overflow-y:scroll;
}

.comment-section {
    padding-left:3px;
    position:relative;
    height:100px;
    background-color:rgb(242, 242, 242);
    overflow-y:scroll;
}

li {
    display: inline;
    border-style:solid;
    border-color:white;
    text-align:center;
    padding: 20px;
    margin-right: 0;
    margin-left: 3px;
    background-color:rgb(00,33,99);
}

a {
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}

a:hover {
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}

a:click {
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}

a:visited {
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#skype {
    max-width:100%;
    max-height:100%;
}

#repairman {
    display:inline-block;
}

#skype-container {
    height: 40px;
    width: 40px;
    display:inline-block;
}

#escalate-button {
    color: white;
    background-color: red;
}

.big-img-container {
    height: 45%;
    width: 45%;
    display:inline-block;
}

#impact {
    max-width:100%;
    max-height:100%;
}

#downtime {
    max-width:80%;
    max-height:80%;
}
